---
import { getCollection } from "astro:content";
import BlogPostComponent from "../../components/BlogPost.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import type { BlogPost } from "../../types/blog";

const { tag } = Astro.params;
const rawPosts = await getCollection("posts");
const posts: BlogPost[] = rawPosts.map((post) => ({
    title: post.data.title,
    date: post.data.date,
    description: post.data.description,
    slug: post.slug,
    tags: post.data.tags,
    content: post.body,
}));
const filteredPosts = posts.filter((post) => post.tags.includes(tag!));
---

<BlogLayout>
    <h1 class="text-4xl font-bold mb-8">Posts tagged with #{tag}</h1>
    {
        filteredPosts.length > 0 ? (
            filteredPosts.map((post) => (
                <BlogPostComponent
                    title={post.title}
                    date={post.date}
                    description={post.description}
                    slug={post.slug}
                    tags={post.tags}
                />
            ))
        ) : (
            <p>No posts found for this tag.</p>
        )
    }
</BlogLayout>
