---
import BlogLayout from "../layouts/BlogLayout.astro";
import { getBlogs, sortByDate } from "../utils/blog";
import BlogPost from "../components/BlogPost.astro";
const posts = await getBlogs();
// postsを日付順にソート
const sortedPosts = sortByDate(posts);
// 最新の5つの記事を取得
const latestPosts = sortedPosts.slice(0, 5);
---

<BlogLayout>
    <h1 class="text-2xl font-bold mb-4">最新記事</h1>
    <ul>
        {
            latestPosts.map((post, index) => (
                <>
                    <BlogPost
                        title={post.data.title}
                        date={post.data.date}
                        description={post.data.description}
                        slug={post.slug}
                        tags={post.data.tags}
                    />

                    {index === 2 && (
                        <div>
                            <script is:inline>
                                googletag.display('div-gpt-ad-1718167284794-0');
                            </script>
                        </div>
                    )}
                </>
            ))
        }
    </ul>
    <a href="/blog" class="text-blue-500">もっと見る</a>
</BlogLayout>
