---
import TagList from "./TagList.astro";
import Time from "./Time.astro";

interface BlogPostProps {
    title: string;
    date: string;
    description: string;
    slug: string;
    tags: string[];
}

const { title, date, description, slug, tags } = Astro.props as BlogPostProps;
---

<div class="mb-8 p-4 border rounded-lg">
    <h2 class="text-2xl font-bold"><a href={`/blog/${slug}`}>{title}</a></h2>
    <Time date={date} />
    <p>{description}</p>
    <TagList tags={tags} />
    <a href={`/blog/${slug}`} class="text-blue-600 hover:underline flex">
        続きを読む
    </a>
</div>
